:root{
    --primary-color: rgb(255, 71, 39);

    --bg-color: white;
    --text-color: black;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme='dark']{
    --primary-color: rgb(255, 171, 157);

    --bg-color: black;
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

header{
    width: 100%;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 27px;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main{
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 .5rem;
}

